{% extends 'layout.html' %}
{% block content %}
<!------ navbar starts ======-->
<div class="container">
  <nav class="navbar navbar-expand-lg border-bottom border-body" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Futurniture</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">All products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/admin">Admin View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/addproduct">Add Product</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/addbrand">Brands</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/addcat">Categories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/carts">Cart ({{ session['ShoppingCart']|length }})</a>
              </li>
          </ul>
        </div>
      </div>
  </nav>
</div>
<!------ navbar ends ======-->
<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-md-3 card">
                <img src="{{url_for('static', filename='images/' + product.image)}}" alt="{{product.name}}" class="card-img-top" height="200">
                <div class="card-body">
                  {%if product.discount > 0 %}
                  <p>
                    <span style="text-shadow: 1px 1px 2px black; color: white; background-color: red;">
                      Discount: {{ product.discount }}%
                    </span>
                  </p>
                  {% endif %}
                  <h5 class="text-center">{{product.name}}</h5>
                  <p class="text-center">Price: ${{product.price}}</p>
                </div>
                <div class="card-footer">
                    <a href="{{url_for('single_page', id=product.id)}}" class="float-left btn btn-sm btn-primary">Details</a>
                    <form action="{{url_for('AddCart')}}" method="POST">
                      <input type="hidden" name="product_id" value="{{product.id}}">
                      <input type="hidden" name="quantity" id="" value="1" min="1" max="{{product.stock}}">
                      <button type="submit" class="btn btn-sm btn-warning float-right">Add to cart</button>
                  </form>
                </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}