{% extends 'layout.html' %}
{% block content %}
<!------ navbar starts ======-->
<div class="container">
    <nav class="navbar navbar-expand-lg border-bottom border-body" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Futurniture</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">All products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/admin">Admin View</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/addproduct">Add Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/addbrand">Brands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/addcat">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/carts">Cart ({{ session['ShoppingCart']|length }})</a>
                </li>
            </ul>
          </div>
        </div>
    </nav>
</div>
<!------ navbar ends ======-->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6" id="product_image">
            <img src="{{url_for('static', filename='images/' + product.image)}}" alt="{{product.name}}" width="400" height="400">
        </div>
        <div class="col-md-6">
            <h4>Product Name: {{product.name}}</h4>
            <hr>
            <p><b>Brand:</b> {{product.brand.name}}</p>
            <p><b>Product Price:</b> ${{product.price}}</p>
            {% if product.discount > 0%}
            <p><b>Product Discount:</b> {{product.discount}}%</p>
            {% endif %}
            <b>Product Description</b>
            <p>{{product.desc}}</p>
            <form action="{{url_for('AddCart')}}" method="POST">
                <input type="hidden" name="product_id" value="{{product.id}}">
                <label for="">Quantity:</label>
                <input type="number" name="quantity" id="" value="1" min="1" max="{{product.stock}}"> <br /><br />
                <button type="submit" class="btn btn-sm btn-warning">Add to cart</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}